*{
margin: 0;
padding: 0;
}
.class{
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.box1{
background-color: aqua;
position: absolute;
top: 0px;
}
.box2{
    background-color: antiquewhite;
   position: relative;

}
.box3{
  background-color: pink;
  position: sticky;
}
.box4{
     background-color: palevioletred;
     position: fixed;
}
.box{
    height: 133px;
    width: 80vh;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;

}
.parent{

padding: 43px;
margin: 34px;
bottom: 3px solid purple;
}