.container{
    background-color: #faebd7;
    width: 50vw;
    height: 40vh;
}
.box{
    background-color: aquamarine;
    width: 5vw;
    height: 4vh;
    /* transition-property: background-color,transform ;
    transition-duration: 3% ;
    transition-timing-function:ease-in-out;
    transition-delay: 1s; */
    /* short hand */
  transition:all 3s ease-in-out 1s ;
}
.translate{
    transform: translateX(10vw) translateY(10vh);
  background-color: blue;
}