/* Element selector */
div{
    background-color: pink;
}
/* class selector */
.red{
    background-color: red;
}
/* id selector */
#green{
    background-color: green;
}
/* child selector : it is only applicable if it is direct child*/
div>p{
    color: antiquewhite;
    background-color: brown;
}
/* decendent selector */
div p {
    background-color: red;
}
/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* pseudo selctor */
a:visited{
    color : pink;
}
/*  */
p:first-child{
    background-color: aquamarine;
}